@import "variables.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 14px !important;
  margin: 0;
}

body {
  color: var(--font-color-text);
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: var(--background-body);
}

a {
  text-decoration: none;
  color: var(--brand-pink);
  transition: 0.2s ease-out;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-heading) !important;
  color: var(--font-color-heading);
  line-height: 1.2;
  font-weight: var(--font-weight-bold);
  margin-top: 0;
  margin-bottom: var(--spacer);
}

h1 {
  font-size: var(--font-size-h2);
}

h2 {
  font-size: var(--font-size-h3);
}

h3 {
  font-size: var(--font-size-h4);
}

@media (min-width: 30rem) {
  h1 {
    font-size: var(--font-size-h1);
  }

  h2 {
    font-size: var(--font-size-h2);
  }

  h3 {
    font-size: var(--font-size-h3);
  }
}

h5 {
  font-size: var(--font-size-h5);
}

figure,
svg,
video,
audio,
embed,
canvas,
picture {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: block;
}

::selection {
  background: var(--font-color-heading);
  color: var(--background-body);
}

form,
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

input {
  font-size: var(--font-size-base);
}

input:focus {
  outline-color: var(--brand-grey-darker);
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

table th,
table td {
  border: 0;
  margin: 0;
  padding: calc(var(--spacer) / 4);
  border-bottom: 1px solid var(--border-color);
  font-size: var(--font-size-base) !important;
  text-align: left;
  font-size: 90%;
}

table th {
  background-color: var(--brand-grey-dimmed) !important;
  font-weight: var(--font-weight-bold);
}

body a {
  color: var(--text-color-primary);
  text-decoration: underline;
  cursor: pointer;
}

body p {
  margin-bottom: calc(var(--spacer) / 6);
}

h1:focus-visible {
  outline: none;
}

body button:focus {
  outline: none !important;
}

.bx--tooltip {
  background-color: var(--brand-white) !important;
}

.bx--tooltip__trigger:not(.bx--btn--icon-only):focus {
  outline: 0 !important;
}

.bx--btn {
  z-index: 0 !important;
}

.bx--tooltip__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:global(div [class*="pagination__button"]) {
  border-left: 1px solid var(--brand-grey-dimmed) !important;
}
.bx--pagination {
  background-color: var(--brand-white) !important;
}

.bx--toast-notification {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100vw !important;
}

.bx--toast-notification__caption {
  display: none;
}

.bx--toast-notification__subtitle,
.bx--toast-notification__title {
  text-align: left;
}

@media (min-width: 640px) {
  .bx--toast-notification {
    width: 50vw !important;
  }
}
